{% extends "base.html" %}

{% block content %}
    <div>
      <h1>Adjectif qualificatif</h1>
      <section>
          L'adjectif qualificatif sert à préciser une qualité, une caractéristique d'un être animé ou d'une chose inanimée:
          <cite-text>beau, laid, gentil, méchant, blanc, noir ...</cite-text>
      </section>

      <h2>Les adjectifs qualificatifs</h2>
      <section>
        Adjectives are words that qualify nouns or pronouns.
        Examples: a small child, a crying child, a sick child, a single child.
        In French, as in Spanish, adjective endings change, depending on whether the nouns they qualify are masculin or feminin, or singular or plural.
      </section>

      <h2>La place des adjectifs</h2>
      <section>
        Adjectives are words that qualify nouns or pronouns.
        Examples: a small child, a crying child, a sick child, a single child.
        In French, as in Spanish, adjective endings change, depending on whether the nouns they qualify are masculin or feminin, or singular or plural.
      </section>

    </div>
{% endblock %}

{% block script %}
	document.querySelector('.col-left').style.display = 'none';
	document.querySelector('.col-right').style.paddingLeft = 0;
	document.querySelector('.top-menu').style.display = 'none';
{% endblock %}
