body {
	margin: 0;
    padding: 0;
    font-family: "RobotoDraft",Helvetica,Arial,sans-serif;
    line-height: 1.8;
    color: #404852;
    -webkit-font-smoothing: antialiased;
    background: #fff;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 48px;
    margin: 0px;
    padding-left: 5px;

}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

section {
    padding-left: 25px;   
}

a {
	text-decoration: none;
}

a img {
    border: none;
}

table tr td {
    border:none;
}

td {
    padding : 5px;
}

li {
    line-height: 1;
}
::selection {
    color: #FFF;
    background: #78AB4E;
    text-shadow: none;
}
.gray-light {
    height:  134px;
}

.gray-light .paper-header {
	background-color:#3F51B5;
	height:  64px;
	line-height: 64px;
}

.gray-light .sub-header {
    background-color:#3F51B5;
    height:  70px;
    line-height: 70px;
}


.toolbar-logo {
    float: left;
    display: block;    
}

.toolbar-menu {
	float: left;
}



.toolbar-menu a {
    display: block;
    float: left;
    height: 66px;
    padding: 0 15px;
    line-height: 66px;
    color: #D3D7E8;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.toolbar-menu a:hover, 
.toolbar-menu a:focus, 
.toolbar-menu a.active {
    color: #FAFCFC;
}



.breadcrumb { 
    list-style: none; 
    overflow: hidden; 
}

.breadcrumb li { 
    float: left; 
}
.breadcrumb li a {
    color: white;
    padding: 10px 0 10px 65px;
    background: brown;                   /* fallback color */
    background: hsla(34,85%,35%,1); 
    position: relative; 
    display: block;
    float: left;
}

.breadcrumb li a:after { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(34,85%,35%,1);
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    left: 100%;
    z-index: 2; 
}

.breadcrumb li a:before { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;       
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    margin-left: 1px;
    left: 100%;
    z-index: 1; 
}

.breadcrumb li a:hover { background: hsla(34,85%,25%,1); }
.breadcrumb li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }

.main-content {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height:100%;
}

.handWrite {
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
}
.card-margin  {
    margin: 5px;
}