{% extends "base.html" %}
{% block menu %}
	<a>Đăng nhập</a>
{% endblock %}
{% block top-menu %}
<ul class="nav">
		<li><a href="#">Bài học hàng ngày</a></li>
		<li><a href="{% url 'luyentap' %}">Luyện tập</a></li>
		<li><a href="#">Từ vựng</a></li>
		<li><a href="#">Ngữ pháp</a></li>
</ul>
{% endblock %}

{% block content %}
    <div>
      <h1>Hoc tiếng pháp trực tuyến  miễn phí</h1>
    </div>
{% endblock %}

{% block script %}
	document.querySelector('.col-left').style.display = 'none';
	document.querySelector('.col-right').style.paddingLeft = 0;
{% endblock %}
