<dom-module id="heading-title">

	<template>

	    <style>
	      :host {
	        display: block;
	      }
	      
	      .contentWrapper > ::content  {
	        color: #3F51B5;
	       	font-size: 18px;
	       	line-height: 2;
	      }
	      
	       .contentWrapper > .line {
	      	width: 100%;
	      	height: 1px;
	      	background-color: #FF9900;	
	      }

	    </style>	    
	    <div class="contentWrapper">
	    	<content></content>
	    	<div class="line"></div>
	    </div>

	</template>

	<script>
	  // register a new element called proto-element
	  Polymer({
	    is: "heading-title"
	  });
	</script>

</dom-module>